body{
    margin-top: 10px;
    background-color: rgba(220,155,64,0.48);
    margin-bottom: 10px;
    position: relative;
}

p{
    font-family: "DejaVu Sans";
}
#img{
    position: relative;
    width:650px;
    height:975px;
    background-image: url(./apic293.jpg);
    margin-left:25%;
}
#img2{
    position: relative;
    width:650px;
    height:975px;
    background-image: url(./apic114.jpg);
    margin-left:25%;
}
#tb{
    position: relative;
    top: 180px;
    left:80px;
}
#tb2{
    position: relative;
    top: 280px;
    left:80px;
}
td{
    border-bottom: rgba(7,0,0,0.52) 2px solid;
}
#footer{
    position: relative;
    text-align: center;
    float: top;
    top:10px;
}
